@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<(string SiteName, Umbraco.Cms.Core.Models.Blocks.BlockListItem? LogoBlock)>
@inject Site.DesignTokens.IDesignTokenStyleRenderer TokenStyles
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@{
    var siteName = Model.SiteName;
    var logoBlock = Model.LogoBlock;
    var siteLogo = logoBlock?.Content.Value<IPublishedContent>("logo");
    var logoFile = siteLogo?.Value<string>("umbracoFile");
    var logoAlt = !string.IsNullOrWhiteSpace(siteName) ? siteName : System.IO.Path.GetFileNameWithoutExtension(logoFile) ?? "Site";
    var logoUrl = siteLogo?.Url();
    var logoWidth = siteLogo?.Value<int>("umbracoWidth");
    var logoHeight = siteLogo?.Value<int>("umbracoHeight");
    var styleOverrides = TokenStyles.GetElementStyleOverrides(logoBlock?.Settings);
}

<a class="grid justify-self-start border border-transparent text-text-inverse no-underline" href="/" style="@styleOverrides.InlineStyle">
    @if (siteLogo is not null)
    {
        <img
            alt="@logoAlt"
            class="h-8 w-auto max-w-40"
            src="@logoUrl"
            width="@logoWidth"
            height="@logoHeight" />
    }
    else
    {
        <span class="font-display text-xl font-bold">@siteName</span>
    }
</a>
